* {
   padding: 0;
   border: 2px solid red;
   margin: 0;
   box-sizing: border-box;
   background-color: rgb(40, 40, 40);
   color: white;
}

.navbar {
   padding: 10px;
   background-color: lime;
   width: auto;
   height: 70px;
   position: absolute;
}

.navbar li {
   padding: 10px;
   list-style: none;
   text-align: left;
   float: left;
}

.navbar li a {
   text-decoration: none;
}