* {
   padding: 0;
   border: 2px solid red;
   margin: 0;
   box-sizing: border-box;
   background-color: rgb(40, 40, 40);
   color: white;
}

.navbar {
   padding-top: 10px;
   padding-bottom: 40px;
   padding-left: 15px;
   margin-bottom: 50px;
   background-color: lime;
   width: 100%;
   height: auto;
   position: static;
}

.navbar ul {
   background-color: yellow;
   border: 0;
}

.navbar li {
   list-style: none;
   text-align: left;
   float: left;
   background-color: blue;
}

.navbar li a {
   padding-left: 10px;
   padding-right: 10px;
   text-decoration: none;
   font-size: 20px;
}