@font-face {
   font-family: sf;
   src: url(SF-Pro-Text-Regular.otf) format('truetype');
 }

@font-face {
   font-family: sfbold;
   src: url(SF-Pro-Text-Bold.otf) format('truetype');
 }

@font-face {
   font-family: sfheavy;
   src: url(SF-Pro-Text-Heavy.otf) format('truetype');
 }
 
body {
   font-family: sf;
   margin: 0;
   padding: 0;
   background-image: unset;
}

.navIsland{
   text-align:center;
   position: fixed;
   list-style-type: none;
   text-decoration: none;
   width: 100%;
   top: 10px;
   overflow-y: hidden;
   display: inline-flex;
   z-index: 10;
}

.navIsland ul {
   list-style-type:none;
   margin:0 auto;
   background-color: black;
   border-radius: 20px;
   padding: 10px 10px 0px 10px;
   display: inline-flex;
   text-decoration: none;
   gap: 10px;
   overflow: hidden;
   height: auto;
   transition: 0.8s;
   transition-property: width;
   transition-duration: 0.8s;
}

.navIsland ul:hover {
   list-style-type:none;
   text-align: center;
   align-items: center;
   margin:0 auto;
   background-color: black;
   border-radius: 20px;
   display: inline-flex;
   overflow: hidden;
   gap: 10px;
}

.navIsland ul li{
   display: inline-block;
   text-decoration: none;
   padding-bottom: 10px;
}

.navIsland ul a {
  text-decoration: none;
  font-size: 17px;
  padding:5px;
  border-radius: 20px;
  color: white;
}

.navIsland li a.active {
   background-color: #53d769;
   color: white;
}

.navIsland li a:hover {
   background-color: white;
   color: black;
   transition: 0.5s;
}

.Bgg {
   height: 100vh;
   width: 100vw;
   display: block;
   overflow: hidden;
   position: relative;
}
.icon {
   border-top: 0px;
   width: 150px;
   height: 150px;
   display: block;
   border-radius: 20px;
}


.container {
   position: relative;
   align-items: center;
 }

 .container :hover {
   background-color: rgb(0, 0, 0, 0.7);
   transition-property: background-color;
   transition: 0.5s;
 }
 
 /* Bottom right text */
 .text-block {
   position: absolute;
   bottom: 20vh;
   right: 70vw;
   background-color: rgb(0, 0, 0, 0.5) ;
   color: white;
   padding-left: 40px;
   padding-right: 90px;
   padding-bottom: 200px;
   margin-left: auto;
   margin-right: auto;
   font-size: 18px;
   border-radius: 40px;
   width: 100px;
   height: 300px;
 }

 .text-block :hover {
   background-color: rgb(0, 0, 0, 0) ;
 }

 .content-block2 {
   position: absolute;
   bottom: 20vh;
   right: 12vw;
   background-color: rgb(0, 0, 0, 0.5) ;
   color: white;
   padding-left: 40px;
   padding-right: 700px;
   padding-bottom: 200px;
   margin-left: auto;
   margin-right: auto;
   font-size: 18px;
   border-radius: 40px;
   width: 100px;
   height: 300px;
 }
 
 .content-block2 :hover {
   background-color: rgb(0, 0, 0, 0) ;
 }

 .content-block3 {
   position: absolute;
   bottom: 20vh;
   right: 12vw;
   background-color: rgb(0, 0, 0, 0.5) ;
   color: white;
   padding-left: 330px;
   padding-right: 700px;
   padding-bottom: 200px;
   margin-left: auto;
   margin-right: auto;
   font-size: 18px;
   border-radius: 40px;
   width: 100px;
   height: 300px;
   display: inline-block;
 }
 
 .content-block3 :hover {
   background-color: rgb(0, 0, 0, 0) ;
 }
 